# BASIC STATISTICS-2

#### Problem Statement : Hospital Patient Data Analysis

Context:A hospital maintains patient records including admission details, department, diagnosis, doctor, and billamount. You have two datasets: one with patient info and another with billing details. Some patientshave blank bill amounts, and there are multiple rows for the same patient due to follow-ups.

##### Tasks:

###### 1. Load the patient dataset and show summary with info()

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
Patient_data=pd.read_csv(r"C:\Users\tilna\Downloads\Patient_Data.csv")

In [3]:
Patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

###### 2. Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [4]:
Billing=Patient_data[['PatientID', 'Department', 'Doctor', 'BillAmount']]
Billing

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

###### 3. Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [5]:
Patient_data.drop(columns=['ReceptionistID', 'CheckInTime'],inplace=True)
Patient_data

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN
5        101    Alice   Cardiology  Dr. Smith      5000.0

###### 4. Use groupby to find total bill amount per department.

In [6]:
Patient_data.groupby('Department')['BillAmount'].sum().reset_index()

    Department  BillAmount
0   Cardiology     16200.0
1  Dermatology         0.0
2    Neurology         0.0
3  Orthopedics      7500.0

###### 5. Remove duplicate patient records based on PatientID.

In [7]:
Patient_data.drop_duplicates(subset=['PatientID'],ignore_index=True,inplace=True)
Patient_data

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

###### 6. Fill missing BillAmount values with the mean bill amount.

In [8]:
Patient_data.BillAmount.mean()

np.float64(6233.333333333333)

In [9]:
Patient_data['BillAmount'].fillna(Patient_data['BillAmount'].mean(),inplace=True)
Patient_data

   PatientID     Name   Department     Doctor   BillAmount
0        101    Alice   Cardiology  Dr. Smith  5000.000000
1        102      Bob    Neurology   Dr. John  6233.333333
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000
3        104    David   Cardiology  Dr. Smith  6200.000000
4        105      Eva  Dermatology   Dr. Rose  6233.333333

###### 7. Merge the billing dataset with patient dataset on PatientID.

In [10]:
Billing_data=pd.read_csv(r"C:\Users\tilna\Downloads\Billing_Data.csv")
Billing_data

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [11]:
df=pd.merge(Patient_data,Billing_data,on='PatientID')
df

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,2000,3000
1,102,Bob,Neurology,Dr. John,6233.333333,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.000000,3000,3200
4,105,Eva,Dermatology,Dr. Rose,6233.333333,1000,4000

###### 8. Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [12]:
new_patients=pd.DataFrame({
    'PatientID':[106,107,108],
    'Name':['Manav','Nithya','Jhon'],
    'Department':['Cardiology','Orthopedics','Dermatology'],
    'Doctor':['Dr. Smith','Dr. Lee','Dr. Rose'],
    'BillAmount':[5400,4500,6500]})

In [13]:
df1=pd.concat((Patient_data,new_patients),ignore_index=True,axis=0)
df1

   PatientID     Name   Department     Doctor   BillAmount
0        101    Alice   Cardiology  Dr. Smith  5000.000000
1        102      Bob    Neurology   Dr. John  6233.333333
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000
3        104    David   Cardiology  Dr. Smith  6200.000000
4        105      Eva  Dermatology   Dr. Rose  6233.333333
5        106    Manav   Cardiology  Dr. Smith  5400.000000
6        107   Nithya  Orthopedics    Dr. Lee  4500.000000
7        108     Jhon  Dermatology   Dr. Rose  6500.000000

###### 9. Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise)

In [14]:
### compares these two pandas Series to see if they are identical in both values and order.
Patient_data['PatientID'].equals(Billing_data['PatientID'])

True

In [16]:
Final=pd.concat([Patient_data,Billing_data[['InsuranceCovered', 'FinalAmount']]],axis=1)
Final

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,2000,3000
1,102,Bob,Neurology,Dr. John,6233.333333,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.000000,3000,3200
4,105,Eva,Dermatology,Dr. Rose,6233.333333,1000,4000

#### Outcome:
######  -Final cleaned dataset with accurate billing info.
###### -All missing values handled, merged dataset across PatientID.
###### -Ability to perform further analytics on department-wise revenue or     doctor performance.